{% extends 'Lib/View/template/index.html.twig' %}

{% block content %}
    <h2>Zadanie 4</h2>
    <p>
        Wynik poniższych zapytań zebrany jest w:
        <ul>
            <li>pliku: <code>/code/src/Zadanie4/Controller/menu.sql</code></li>
            <li>bazie danych <code>mydb</code> w dołączonym kontenerze Dockera.<br>
                Adminer: http://localhost:8080, u: user, p: userpass.</li>
        </ul>
    </p>
    <hr>
    <pre>
        <code>
            CREATE TABLE IF NOT EXISTS menu
            (
              id INT(10) UNSIGNED NOT NULL AUTO_INCREMENT,
              menu_name VARCHAR(255) NOT NULL COLLATE utf8_general_ci,
              menu_parent INT(10) UNSIGNED NOT NULL COLLATE utf8_general_ci,
              PRIMARY KEY (id),
              INDEX menu_name (menu_name),
              INDEX menu_parent (menu_parent)
            )
            CHARACTER SET utf8 COLLATE utf8_general_ci
            ENGINE=InnoDB;

            INSERT menu (id, menu_name, menu_parent) VALUES
            (1,'Kategoria główna',0),
            (2,'Podkategoria 1',1),
            (3,'Produkt A',2),
            (4,'Produkt B',2),
            (5,'Podkategoria 2',1),
            (6,'Produkt C',5),
            (7,'Produkt D',5);
        </code>
    </pre>

{% endblock %}