{% extends 'Lib/View/template/index.html.twig' %}

{% block menu %}
    <div id="menu">
        <h2>Menu</h2>
        {{ menu|raw }}
    </div>
{% endblock %}

{% block content %}
    <h2>Zadanie 5</h2>
    <p>
        Skrypt generujący menu zawarto w pliku <code>code/src/Zadanie5/Controller/MenuController.php</code>.<br>
        Przedstawiono dwa mechanizmy — pierwszy, który pobiera raz dane z bazy danych i rekurencyjnie tworzy drzewo menu,
        drugi — który do każdego elementu menu wykonuje zapytanie.<br>
        Dane do utworzenia menu pochodzą z bazy danych utworzonej w Zadaniu 4.<br>
        W zadaniu dodatkowo utworzono mechanizm nawiązania połączenia z bazą danych i repozytorium odpytujące bazę.
    </p>
    <hr>
{% endblock %}