{% extends 'Lib/View/template/index.html.twig' %}
{% import _self as macro %}
{% macro printProducts(products, withAvailability=false) %}
    <ul>
    {% for product in products %}
        <li>
            {{ product.name }}
            {% if product.description is not defined %}[{{ product.description }}]{% endif %}
            - {{ product.price }}zł
            {% if true==withAvailability %}
                - {% if false==product.availability %}nie{% endif %}dostępny
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    <h2>Zadanie 6</h2>
    <p>
        Wykorzystując bibliotekę Doctrine stworzono model produkt-kategorie.
    </p>
    <hr>
    <p>
        Produkty w bazie:
        {{ macro.printProducts(allProducts, true) }}
    </p>
    <hr>
    <hr>
    <p>Liczba dostępnych produktów: {{ countAvailableProducts }}</p>
    <p>Kolekcja niedostępnych produktów:
        {{ macro.printProducts(notAvailableProducts) }}
    </p>
    <p>Produkty z frazą <i>razowy</i> w nazwie:
        {{ macro.printProducts(findByDescription) }}
    </p>
    <hr>
    <p>Liczba produktów z kategorii o ID=1 (<i>pieczywo</i>): {{ countProductsInTheCategoryId }}</p>
    <p>
        Posortowana (<code>ASC</code>) lista produktów z kategorii o ID=1 (<i>pieczywo</i>):
        {{ macro.printProducts(sortableProductInTheCategoryAsc) }}
    </p>
    <p>
        Posortowana (<code>DESC</code>) lista produktów z kategorii o ID=4 (<i>owoce</i>):
        {{ macro.printProducts(sortableProductInTheCategoryDesc) }}
    </p>
{% endblock %}