{% extends 'Lib/View/template/index.html.twig' %}

{% block content %}
    <h2>Zadanie 1</h2>
    <p>
        Treść zadania mówi o (jednej) klasie przyjmującej liczby naturalne. Przygotowano klasę <code>Number</code>,
        która za pomocą settera przyjmuje kolejne liczby. Klasa ta jest wywoływana w kontrolerze <code>NumberController</code>,
        który to dodaje liczby do obiektu <code>Number</code>, następnie je wypisuje i generuje raport.
    </p>
    <hr>
    <p>
        Dodane liczby:
        {{ print }}
    </p>
    <p>
        Raport:
        {{ report|raw }}
    </p>
{% endblock %}