{% extends 'Lib/View/template/index.html.twig' %}

{% block stylesheet %}
    <link href="src/Zadanie2/View/stylez2.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>Zadanie 3</h2>    <p>
    Walidacja formularza w oparciu o JavaScript (bez wykorzystania dodatkowych bibliotek).
    Plik ze skryptem JS umieszczono w <code>/code/src/Zadanie3/View/valid.js</code>.<br>
    Skrypt umożliwia dodanie walidacji dla kolejnych pól formularza oraz dodanie kolejnych metod walidacyjnych.
</p>
    <hr>
    <section class="bd-example">
        <form method="post" id="person" action="">
            <div class="form-group row">
                <label for="name" class="required col-sm-2 col-form-label">Imię</label>
                <div class="col-sm-10">
                    <input type="text" name="name" id="name" title="Imię" class="col-sm-12">
                </div>
            </div>
            <div class="form-group row">
                <label for="surname" class="required col-sm-2 col-form-label">Nazwisko</label>
                <div class="col-sm-10">
                    <input type="text" name="surname" id="surname" title="Nazwisko" class="col-sm-12">
                </div>
            </div>
            <div class="form-group row">
                <label for="age" class="required col-sm-2 col-form-label">Wiek</label>
                <div class="col-sm-10">
                    <input type="number" name="age" id="age" title="Wiek" class="col-sm-12">
                </div>
            </div>
            <div class="form-group row">
                <label for="sex" class="required col-sm-2 col-form-label">Płeć</label>
                <div class="col-sm-10">
                    <select name="sex" id="sex" class="custom-select col-sm-12">
                        <option value="">wybierz</option>
                        <option value="f">kobieta</option>
                        <option value="m">mężczyzna</option>
                        <option value="o">inna</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="agree" class="required col-sm-5 col-form-label">Wyrażam zgodę na przetwarzanie danych</label>
                <div class="col-sm-7">
                    <input type="checkbox" name="agree" id="agree">
                </div>
            </div>
            <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Wyślij">
        </form>
    </section>
{% endblock %}

{% block javascript %}
    <script src="src/Zadanie3/View/valid.js"></script>
{% endblock %}