label.required:after {
    content: "*";
    color: red;
    position: absolute;
    margin: 0 0 0 5px;
}
input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #495057;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
}
input.error, select.error {
    border-color: red;
}
span.error {
    color: red;
}