{% extends 'Lib/View/template/index.html.twig' %}

{% block stylesheet %}
    <link href="src/Zadanie2/View/stylez2.css" rel="stylesheet">
{% endblock %}

{% block menu %}
    <div id="menu">
        <h2>Menu</h2>
    </div>
{% endblock %}

{% block content %}
    <h2>Zadanie 2</h2>
    <p>
        Zgodnie z treścią zadania przygotowano szkielet strony internetowej (HTML5) wykorzystując silnik TWIG.
        Główny plik szablonu umieszczony jest w <code>/code/src/Lib/View/template/index.html.twig</code>.
        Jest on rozszerzany przez podwidoki dla każdego z zadań.<br>
        Element <code>div</code>, o identyfikatorze "menu", umieszczono w elemencie <code>aside</code>.
        Poniżej umieszczono formularz i CV.
    </p>
    <hr>
    <section class="bd-example">
        <form method="post" id="person" action="">
            <div class="form-group row">
                <label for="name" class="required col-sm-2 col-form-label">Imię</label>
                <div class="col-sm-10">
                    <input type="text" name="name" id="name" title="Imię" class="col-sm-12">
                </div>
            </div>
            <div class="form-group row">
                <label for="surname" class="required col-sm-2 col-form-label">Nazwisko</label>
                <div class="col-sm-10">
                    <input type="text" name="surname" id="surname" title="Nazwisko" class="col-sm-12">
                </div>
            </div>
            <div class="form-group row">
                <label for="age" class="required col-sm-2 col-form-label">Wiek</label>
                <div class="col-sm-10">
                    <input type="number" name="age" id="age" title="Wiek" class="col-sm-12">
                </div>
            </div>
            <div class="form-group row">
                <label for="sex" class="required col-sm-2 col-form-label">Płeć</label>
                <div class="col-sm-10">
                    <select name="sex" id="sex" class="custom-select col-sm-12">
                        <option value="">wybierz</option>
                        <option value="f">kobieta</option>
                        <option value="m">mężczyzna</option>
                        <option value="o">inna</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="agree" class="required col-sm-5 col-form-label">Wyrażam zgodę na przetwarzanie danych</label>
                <div class="col-sm-7">
                    <input type="checkbox" name="agree" id="agree">
                </div>
            </div>
            <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Wyślij">
        </form>
    </section>
    <section>
        <h2>CV</h2>
        <p rel="author"><strong>Marcin Modliński</strong></p>
        <address><a href="mailto:modlinski.programista@gmail.com">modlinski.programista@gmail.com</a></address>
        <p><a href="tel:+48507456342">507–456–342</a></p>
    </section>
    <section>
        <h2>Doświadczenie</h2>
        <dl>
            <dt>2016–</dt>
            <dd>LafLearning/Lafrentz Polska Sp. z o.o.</dd>
            <dt>2014–2016</dt>
            <dd>Learn Up Sp. z o.o.</dd>
            <dt>2009–2014</dt>
            <dd>Politechnika Poznańska</dd>
        </dl>
    </section>
    <section>
        <h2>Szkolenia stacjonarne</h2>
        <dl>
            <dt>2017</dt>
            <dd>Atakowanie i ochrona webaplikacji</dd>
            <dt>2016</dt>
            <dd>PHPCon Poland 2016</dd>
        </dl>
    </section>
    <section>
        <h2>Szkolenia on-line</h2>
        <ul>
            <li>Test Driven Development</li>
            <li>Wzorce projektowe – wprowadzenie</li>
            <li>Kurs Docker – środowiska developerskie</li>
            <li>Fundamenty programowania obiektowego</li>
            <li>Dobre praktyki pracy w zespole</li>
            <li>WordPress – tworzenie motywów</li>
            <li>WordPress – własne pluginy</li>
            <li>Symfony 2 Framework – techniki zaawansowane</li>
            <li>Symfony 2 Framework – techniki pracy</li>
        </ul>
    </section>
    <section>
        <h2>Edukacja</h2>
        <dl>
            <dt>2007–2012</dt>
            <dd>Politechnika Poznańska, Studium Doktoranckie Wydziału Fizyki Technicznej</dd>
            <dt>2002–2007</dt>
            <dd>Politechnika Poznańska, Wydział Fizyki Technicznej</dd>
        </dl>
    </section>
    <section>
        <h2>Kompetencje IT</h2>
        <ul>
            <li>Minimum 2 lata
                <ul class="col-count-3">
                    <li>PHP</li>
                    <li>Symfony 2.x</li>
                    <li>Wordpress</li>
                    <li>MySQL (MariaDB)</li>
                    <li>Git</li>
                    <li>HTML5</li>
                    <li>CSS3 (less)</li>
                    <li>JavaScript (jQuery)</li>
                    <li>AJAX</li>
                    <li>RWD</li>
                    <li>Bootstrap</li>
                    <li>Linux Debian</li>
                    <li>nginx</li>
                </ul>
            </li>
            <li>Daję radę
                <ul class="col-count-3">
                    <li>SOLID</li>
                    <li>wzorce</li>
                    <li>Jira/Assana/Trello</li>
                    <li>Rundeck</li>
                    <li>Photoshop</li>
                    <li>Docker</li>
                    <li>TDD</li>
                </ul>
            </li>
            <li>Hobbystycznie
                <ul class="col-count-3">
                    <li>Symfony 3</li>
                    <li>Phalcon PHP</li>
                    <li>Yii PHP</li>
                    <li>Joomla!</li>
                    <li>Drupal</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h2>Informacje dodatkowe</h2>
        <ul>
            <li>obowiązkowość i sumienność</li>
            <li>dokładność i dbałość o szczegóły</li>
            <li>opanowanie</li>
            <li>prawo jazdy kategorii B</li>
        </ul>
    </section>
    <section>
        <h2>Zainteresowania</h2>
        <ul>
            <li>programowanie</li>
            <li>kuchnia, pyszna kuchnia</li>
            <li>kawa (espresso i alternatywne metody parzenia, były z moderatorów największego, polskiego forum kawowego)</li>
            <li>książki (Mróz, Brown, Coben, Harris, King, Nesbø, Pilipiuk)</li>
            <li>dziewiętnastowieczne fortyfikacje Poznania</li>
        </ul>
    </section>
    <section class="mt-5 mb-5">
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapsePdf"
                aria-expanded="false" aria-controls="collapsePdf">
            Plik osadzony
        </button>
        <div class="collapse" id="collapsePdf">
            <div class="card card-body">
                <embed src="src/Zadanie2/View/Modlinski.pdf" width="100%" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
            </div>
        </div>
    </section>
{% endblock %}