<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Zadanie rekrutacyjne">
        <meta name="author" content="Marcin Modliński">
        <title>Zadanie rekrutacyjne</title>
        <link href="../../../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="src/Lib/View/template/style.css" rel="stylesheet">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Programa — Marcin Modliński</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="?page=zadanie1">Zadanie 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?page=zadanie2">Zadanie 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?page=zadanie3">Zadanie 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?page=zadanie4">Zadanie 4</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?page=zadanie5">Zadanie 5</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?page=zadanie6">Zadanie 6</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="container">
            <div class="row">
                <aside class="col-lg-3">
                    {% block menu %}{% endblock %}
                </aside>
                <article class="col-lg-9">{{ url }}
                    {% block content %}{% endblock %}
                </article>
            </div>
        </section>
        <script src="../../../../vendor/components/jquery/jquery.min.js"></script>
        <script src="../../../../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>