body {
    padding-top: 54px;
}

span {
    color: slategrey;
    font-size: 0.6em
}

.container {
    max-width: 1200px;
}

.card {
    border: 0;
    padding: 0.5em;
}

li[data-toggle='collapse'] {
    cursor: pointer;
}

h2 {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
    margin: 30px 0;
}

section ul.col-count-3 {
    column-count: 1;
}

@media (min-width: 600px) {
    body {
        padding-top: 56px;
    }

    section ul.col-count-3 {
        column-count: 3;
        column-gap: 20px;
    }
}